//
// Fonts
// --------------------------------------------------

@font1-path: '../fonts/';
@font1-filename1: 'alternate_gothic_no3';
@font1-name: 'alternate_gothic_no3';

@font-face {
  font-family: @font1-name;
  src: ~"url('@{font1-path}@{font1-filename1}.eot')";
  src: ~"url('@{font1-path}@{font1-filename1}.eot?#iefix') format('embedded-opentype')",
       ~"url('@{font1-path}@{font1-filename1}.woff') format('woff')",
       ~"url('@{font1-path}@{font1-filename1}.ttf') format('truetype')";
  font-weight: normal;
  font-style: normal;
}

@font2-filename1: 'kumpan-icon';
@font2-name: 'kumpan-icon';

@font-face {
  font-family: @font2-name;
  src: ~"url('@{font1-path}@{font2-filename1}.eot')";
  src: ~"url('@{font1-path}@{font2-filename1}.eot?#iefix') format('embedded-opentype')",
       ~"url('@{font1-path}@{font2-filename1}.woff') format('woff')",
       ~"url('@{font1-path}@{font2-filename1}.ttf') format('truetype')";
  font-weight: normal;
  font-style: normal;
}

@font3-filename1: 'SketchBlock-Bold';
@font3-name: 'SketchBlock-Bold';

@font-face {
  font-family: @font3-name;
  src: ~"url('@{font1-path}@{font3-filename1}.eot')";
  src: ~"url('@{font1-path}@{font3-filename1}.eot?#iefix') format('embedded-opentype')",
       ~"url('@{font1-path}@{font3-filename1}.woff') format('woff')",
       ~"url('@{font1-path}@{font3-filename1}.ttf') format('truetype')";
  font-weight: normal;
  font-style: normal;
}

@font4-filename1: 'GillSans';
@font4-name: 'GillSans';

@font-face {
  font-family: @font4-name;
  src: ~"url('@{font1-path}@{font4-filename1}.eot')";
  src: ~"url('@{font1-path}@{font4-filename1}.eot?#iefix') format('embedded-opentype')",
       ~"url('@{font1-path}@{font4-filename1}.woff') format('woff')",
       ~"url('@{font1-path}@{font4-filename1}.ttf') format('truetype')";
  font-weight: normal;
  font-style: normal;
}


@font1: 'alternate_gothic_no3', Helvetica, Arial, sans-serif;
@font2: 'Open Sans', Arial, sans-serif;
@font3: 'kumpan-icon';
@font4: 'SketchBlock-Bold', Arial, sans-serif;
@font5: 'GillSans', Arial, sans-serif;
