//
// Mixins
// --------------------------------------------------
.font-size(@sizeValue) {
  @remValue: @sizeValue/10;
  @pxValue: (@sizeValue);
  font-size: ~"@{pxValue}px"; 
  font-size: ~"@{remValue}rem";
}