/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import "mixins.less";
@import "owl.carousel/owl.carousel.less";
@import "owl.carousel/owl.theme.default.less";

/* ==========================================================================
   Base
   ========================================================================== */

body {
   -webkit-font-smoothing: antialiased;
}



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }

#header-wrapper{
   display: none;
}

header{
   position: static;
   width: 100%;
   &.affix{
      position: fixed;
      top: 0px;
   }
   .icon-container{
      float: right;
      height: 70px;
      display: inline-block;
      padding-top: 5px;
      opacity: 0.8;
      color: white;
      font-family: @font3;
      .font-size(42);
      .transition(color 0.3s);
      &.facebook{
         &:before{
            content: "\e602";
         }
      }
      &.instagram{
         &:before{
            content: "\e601";
         }
      }
      &:hover{
         color: @green;
      }
      
   }
}

.navbar-default .navbar-nav>li>a{
   .font-size(20);
   color: @white;
   text-transform: uppercase;
   padding-bottom: 15px;
   .transition(color 0.3s);
   &:hover{
      color: @green;
   }
}

.navbar-default .navbar-nav>li.active>a{
   color: @yellow;
   background-color: inherit;
   &:hover{
      color: @yellow;
      background-color: inherit;
   }
}

.navbar{
   margin-bottom: 0px;
   background-color: @black;
   border: 0px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  margin-right: -100px;
}

.navbar .navbar-collapse {
  text-align: center;
}

.menu-back{
   z-index: 17;
   position: fixed;
   right: 10px;
   top: 10px;
   background-color: @black;
   opacity: 0.2;
   width: 42px;
   height: 40px;
   //border-radius: 5px;
}
.menu-button{
   z-index: 18;
   position: fixed;
   right: 15px;
   top: 15px;
   cursor: pointer;
}

.overlay-menu{
   display: none;
   z-index: 16;
   position: fixed;
   background-color: rgba(0, 0, 0, 0.85);
   width: 100%;
   height: 100%;
   opacity: 0;
   text-align: center;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
   .transition(opacity 0.3s ease-in-out);
   &.clicked{
      opacity: 1;
   }
   .list-container{
      display: table;
      width: 100%;
      height: 100%;
      ul{
         display: table-cell;
         vertical-align: middle;
         padding-left: 0px;
         list-style-type: none;
         .submenu-container2{
            overflow: hidden;
            .submenu-container{
               .transition(margin-top 0.5s ease-in-out);
               li{
                  a{
                  }
               }
            }
         }
         li{
            &.submenu-category{
               .arrow{
                  width: 0; 
                  height: 0; 
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-top: 3px solid @white;
                  border-bottom: 0px solid @s-gray;
                  margin: 0 auto;
                  margin-bottom: 0px;
                  .transition(border-top 0.5s ease-in-out);
               }
               a{
                  cursor: pointer;
                  .transition(color 0.5s ease-in-out);
               }
               &.open{
                  a{
                     color: @s-gray;
                  }
                  .arrow{
                     border-top: 0px solid @white;
                     border-bottom: 5px solid @s-gray;
                     margin-bottom: -3px;
                  }
               }
            }
            margin-top: 20px;
            a{
               font-family: @font2;
               font-weight: 800;
               color: @white;
               text-decoration: none;
               .font-size(28);
               &:hover{
                  color: @green;
               }
            }
            &.submenu{
               margin-top: 10px;
               a{
                  .font-size(18);
               }
            }
         }
      }
      .icon-container-overlay{
         display: table-row;
         .icon{
            font-family: @font3;
            .font-size(60);
            color: white;
            opacity: 0.8;
            display: inline-block;
            &#instagram{
               margin-left: 10px;
               &:before{
                  content: "\e601";
               }     
            }
            &#facebook{
               &:before{
                  content: "\e602";
               }         
            }
            &:hover{
               color: @green;
            }
         }
      }
   }
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

.mainContainer{

}


h1{
   .font-size(50);
}
h2{
   .font-size(60);
   text-transform: uppercase;
}
h3{
   .font-size(60);
}
p{
   .font-size(18);
   font-family: @font2;
}

//top_begin
#smakis-logo-container{
   position: relative;
   text-align: center;
   background-image: url('../img/header/sunrise.png');
   background-size: cover;
   background-position: center top;
   z-index: 0;
   overflow: hidden;
   img{
      &#shadow{
         position: absolute;
         z-index: 1;
         top: 15%;
      }
      position: relative;
      width: 100%;
      max-width: 510px;
      z-index: 2;
      padding-top: 3%;
      padding-left: 3%;
      padding-right: 3%;
   }
}

//top_end

#promo-one{
   text-align: center;
   padding-top: 70px;
   padding-bottom: 84px;
   background-color: #ffeb00;
   h2{
      .font-size(54);
   }
   img{
      width: 100%;
      max-width: 330px;
      margin-top: 15px;
      margin-bottom: 45px;
      margin-right: auto;
   }
   p{
      line-height: 30px;
      margin-bottom: 50px;
      a{
         font-weight: 600;
         text-decoration: underline;
         color: #339933;
         &:hover{
            color: @green;
         }
      }
   }
   .promo-button{
      background-color: black;
      color: @white;
      .font-size(14);
      border-radius: 50px;
      border: 0px;
      font-family: @font2;
      font-weight: 600;
      text-transform: uppercase;
      display: inline;
      padding: 15px 20px;
      text-decoration: none;
      .transition(background-color 0.3s);
      &:hover{
         background-color: @s-gray-light;
      }
   }


}
.promo-popup{
   z-index: 1001;
   background-color: #ffeb00;
   position: absolute;
   display: none;
   width: 100%;
   height: 1000%;
   top: 0;
   left: 0;
   font-family: @font2;
   text-align: center;
   .font-size(18);
   opacity: 0.98;
   overflow: scroll;
   strong{
      font-family: @font1;
      display: block;
      margin-bottom: 100px;
      .font-size(54);
   }
   h2{
      margin-top: 60px;
      font-family: @font1;
      margin-bottom: 30px;
   }
   .text-container{
   
   }
}

//home_begin
#slide-one{
   text-align: center;
   padding-top: 70px;
   padding-bottom: 50px;
   .owl-carousel{
      background-color: @white;
      img{
         background-color: @white;
         width: 100%;
         max-width: 620px;
         margin: 0 auto;
      }
   }
   .owl-item{
      p{
         opacity: 0;
         .transition(opacity 1s);
         margin-top: 15px;
         margin-bottom: 30px;
      }  
      &.center{
         p{
            opacity: 1;
         }  
      }
   }
   .owl-theme .owl-controls{
      position: absolute;
      top: 35%;
      width: 100%;
   }
   .owl-theme .owl-controls .owl-nav [class*='owl-']{
      background-color: inherit;
      color: #ff0000;
      .font-size(72);
   }
   .owl-theme .owl-controls .owl-nav .owl-next{
      margin-left: 33%;
   }
   .chevron-container {
     height: 100px;
     width: 60px;
     opacity: 0.1;
     color: black;
   }
   .chevron-right {
     position: relative;
     text-align: center;
     height: 15px;
     width: 60px;
   }
   .chevron::before {
      border-style: solid;
      border-width: 0.15em 0.15em 0 0;
      content: '';
      display: inline-block;
      height: 0.35em;
      left: 0.15em;
      position: relative;
      top: 0.15em;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      vertical-align: top;
      width: 0.35em;
   }

   .chevron.right:before {
      left: 0;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
   }

   .chevron.left:before {
      left: 0.25em;
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
   }
}



#slide-two{
   text-align: center;
   background-color: @s-gray-dark;
   padding-top: 100px;
   padding-bottom: 110px;
   .carousel{
      margin-bottom: 100px;
      .item{
         background-color: @s-gray-dark;
         left: 0 !important;
         .transition(opacity 1s);
         img{
            margin: 0 auto;
            width: 100%;
            max-width: 410px;
         }
      }
      .carousel-control{
         background-image: none;
         .glyphicon-chevron-right{
            width: auto;
         }
         .glyphicon-chevron-right:before {
             //Reset the icon
             content: " ";
             //Give layout
             display:block;
             //Your image as background
            border-style: solid;
            border-width: 0.15em 0.15em 0 0;
            content: '';
            display: inline-block;
            height: 0.35em;
            left: 0.15em;
            position: relative;
            top: 0.15em;
            vertical-align: top;
            width: 0.35em;
            left: 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            font-size: 70px;
            opacity: 0.2;
             //To show full image set the dimensions
            // width:30px;
             //height:30px;
         }
         .glyphicon-chevron-left:before {
             //Reset the icon
             content: " ";
             //Give layout
             display:block;
             //Your image as background
            border-style: solid;
            border-width: 0.15em 0.15em 0 0;
            content: '';
            display: inline-block;
            height: 0.35em;
            left: 0.15em;
            position: relative;
            top: 0.15em;
            vertical-align: top;
            width: 0.35em;
            left: 0.25em;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -ms-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            font-size: 70px;
            opacity: 0.2;
             //To show full image set the dimensions
            // width:30px;
             //height:30px;
         }
      }
      .next.left, .prev.right{
         opacity: 1;
         z-index: 1;
      }
      .active.left, .active.right{
         opacity: 0;
         z-index: 2;
      }
      .carousel-indicators{
         margin-bottom: -80px;
         li{
            margin-left: 10px;
            background-color: white;
            opacity: 0.2;
            &.active{
               background-color: transparent;
               width: 17px;
               height: 17px;
               opacity: 0.8;
               border-width: 2px;
               margin-bottom: -3px;
            }
         }
      }
   }
   .button{
      background-color: @green;
      color: @white;
      .font-size(14);
      border-radius: 50px;
      border: 0px;
      font-family: @font2;
      font-weight: 600;
      text-transform: uppercase;
      display: inline;
      padding: 15px 20px;
      text-decoration: none;
      .transition(background-color 0.3s);
      &:hover{
         background-color: @s-gray-light;
      }
      margin-top: 100px;
   }
}

#our-products{
   text-align: center;
   padding-top: 70px;
   padding-bottom: 100px;
   p{
      .font-size(24);
   }
   img{
      width: 100%;
      max-width: 840px;
      margin-top: 20px;
      margin-bottom: 40px;
   }
   .button{
      background-color: @green;
      color: @white;
      .font-size(14);
      border-radius: 50px;
      border: 0px;
      font-family: @font2;
      font-weight: 600;
      text-transform: uppercase;
      display: inline;
      padding: 15px 20px;
      text-decoration: none;
      .transition(background-color 0.3s);
      &:hover{
         background-color: @s-gray-light;
      }
   }
}

#campaign{
   background-color: @s-gray-lighter;
   text-align: center;
   padding-top: 70px;
   padding-bottom: 90px;
   h2{
      .font-size(46);
   }
   p{
      .font-size(24);
      font-weight: 200;
      line-height: 35px;
      margin-bottom: 20px;
      &.small{
         .font-size(18);
         line-height: 30px;
      }

   }
   img{
      width: 100%;
      max-width: 506px;
      margin-top: 20px;
      margin-bottom: 60px;
   }
   .button{
      background-color: @green;
      color: @white;
      .font-size(14);
      border-radius: 50px;
      border: 0px;
      font-family: @font2;
      font-weight: 600;
      text-transform: uppercase;
      display: inline;
      padding: 15px 20px;
      text-decoration: none;
      .transition(background-color 0.3s);
      &:hover{
         background-color: @s-gray-light;
      }
   }

}

//home_end

#product-category-top, #friends-top, #retailers-top, #contact-top{
   background-color: @s-gray-lighter;
   text-align: center;
   padding-top: 100px;
   padding-bottom: 100px;
   h2{
      margin-top: 0px;
   }
   p{
      .font-size(20);
   }
}

//products_begin

.product-category{
   padding-top: 50px;
   padding-bottom: 50px;
   h3{
      .font-size(24);
      font-family: @font2;
      font-weight: 200;
      margin-top: 100px;
      margin-bottom: 20px;
      border-bottom: 1px solid @s-gray-lighter;
      padding-bottom: 10px;
   }
   .product-container{
      position: relative;
      text-align: center;
      overflow: hidden;
      cursor: pointer;
      &.clicked{
         .product-info{
            top: 0;
         }
      }
      p{
         .font-size(13);
         font-weight: 800;
         text-transform: uppercase;
         line-height: 16px;
         overflow: hidden;
         white-space: nowrap;
         &.product-row-two{
            margin-top: -10px;
         }
      }
      .product-info{
         opacity: 1;
         background-color: @green;
         position: absolute;
         height: 78%;
         width: 100%;
         top: -100%;
         .transition(top 0.5s);
         max-width: 165px;
         max-height: 230px;
         margin-left: auto;
         margin-right: auto;
         left: 0;
         right: 0;
         .info-container{
            height: 100%;
            overflow: hidden;
            p{
               //overflow: visible;
               white-space: normal;
               .font-size(14);
               font-weight: 400;
               line-height: 20px;
               color: @white;
               text-transform: none;
               display: table;
               width: 100%;
               height: 40%;
               margin: 0px;
               &.no-product-link{
                  border-top: 1px solid rgba(255, 255, 255, 0.5);
                  .font-size(14);
                  font-weight: 800;
                  height: 30%;
               }
               span{
                  display: table-cell;
                  vertical-align: middle;
                  padding: 0px 10px;
               }
            }
            a{
               border-top: 1px solid rgba(255, 255, 255, 0.5);
               font-family: @font2;
               color: @white;
               display: table;
               text-decoration: none;
               .font-size(14);
               font-weight: 800;
               text-transform: uppercase;
               width: 100%;
               height: 30%;
               span{
                  display: table-cell;
                  vertical-align: middle;
                  &.glyphicon{
                     padding-right: 10px;
                     overflow: hidden;
                  }
               }
               &:hover{
                  color: #DEDEDE;
               }
            }  
         }

         .arrow-down {
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            //border-top: 10px solid @green;
            margin: 0 auto;
            //margin-bottom: 37px;
         }
      }
      img{
         width: 100%;
         max-width: 165px;
         margin-bottom: 40px;
      }
      p{

      }
   }   
}

//products_end


//friends_begin
span {
   &.anchor{
      margin-top: -50px;
      padding-bottom: 50px;
      display: block;
   } 
}

#friends{
   position: relative;
   z-index: 1;
   .row{
      &:last-child{
         hr{
            display: none;
         }
      }
      .bottom-text{
         margin-bottom: 80px;
      }
   }
}

#friends-side-nav{
   margin-top: 70px;
   overflow: hidden;
   ul{
      list-style-type: none;
      padding-left: 0px;
      li{
         border-top: 1px solid #e5e5e5;
         padding: 0px 0px;
         width: 242px;
         .transition(background-color 0.3s);
         &:hover{
            background-color: @s-gray-lighter;
            a{
               color: @s-gray-light;
               background-color: @s-gray-lighter;
               span{
                  display: none;
                  .font-size(12);
                  margin-left: 10px;
               }
            }
         }
         &.active{
            background-color: @s-gray-lighter;
            a{
               color: @s-gray-light;
               background-color: @s-gray-lighter;
               span{
                  display: inline;
                  .font-size(12);
                  margin-left: 10px;
               }
            }
         }
         &:last-child{
            border-bottom: 1px solid #e5e5e5;
         }         
         a{
            padding-top: 15px;
            padding-bottom: 15px;
            font-family: @font2;
            font-weight: 700;
            .font-size(14);
            color: @green;
            text-transform: uppercase;
            span{
               display: none;
            }
         }
      }
   }
   &.affix{
      margin-top: -530px;
      ul{
         li{

         }
      }
   }
}



.friend-container{
   margin-top: 40px;
   overflow: hidden;
   font-family: @font2;
   h3{
      .font-size(48);
      font-weight: 600;
   }
   .top-text{
      .font-size(24);
      font-weight: 200;
      line-height: 35px;
   }
   .bottom-text{
      .font-size(18);
      line-height: 30px;
      p{
         margin-top: 20px;
      }
      b{
         display: block;
      }
   }
   img{
      margin-bottom: 30px;
      width: 100%;
   }
}






//friends_end

//retailers_begin

#retailers-top{
   h2{
      .font-size(48);
   }
}

#retailers{
   text-align: center;
   .row{
      &:last-child{
         hr{
            display: none;
         }
         margin-bottom: 40px;
      }
   }
   h3{
      .font-size(24);
      font-family: @font2;
      font-weight: 200;
      margin-top: 50px;
      margin-bottom: 50px;
   }
   .shop-container{
      height: 130px;
      width: 130px;
      display: table;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      p{
         display: table-cell;
         vertical-align: middle;
         .font-size(14);
      }
   }
}

//retailers_end

//contact_begin

#contact{
   padding-top: 50px;
   padding-bottom: 100px;
   .left-info{
      p{
         .font-size(18);
         color: @s-gray-dark;
         margin-top: 0px;
         margin-bottom: 0px;
         &.title{
            .font-size(14);
            color: @s-gray-light;
            font-weight: 800;
            text-transform: uppercase;
            margin-top: 30px;
            margin-bottom: 5px;
         }
      }
      hr{
         margin-bottom: 0px;
         margin-top: 30px;
         &:first-of-type{
            margin-top: 0px;
         }
         &:last-of-type{
            margin-bottom: 50px;
         }
      }
   }
   //form_begin

   form{
      background-color: @s-gray-lighter;
      padding: 30px 30px 20px 30px;
      .form-control{

      }
      input
      {
         .font-size(16);
         font-family: @font2;
         font-weight: 200;
         height: 50px;
         margin-bottom: 10px;
         border: none;
         width: 100%;
         padding-left: 20px;
      }
      textarea{
         padding: 20px;
         .font-size(16);
         font-weight: 200;
         font-family: @font2;
         height: 190px;
         border: none;
         width: 100%;
         resize: none;
      }
      .gfield_description{
         display: none;
      }
      .gform_button {
        .btn();
        .btn-primary();
         .font-size(14);
         border-radius: 30px;
         background-color: @green;
         color: @white;
         text-transform: uppercase;
         width: auto;
         padding: 10px 50px;
         border: 0px;
         .transition(background-color 0.3s);
         &:hover{
            background-color: @s-gray-light;
         }
      }


   }
   .gform_wrapper ul {
     .list-unstyled();
   }

   .gform_wrapper .gfield_error {
     input,
     select,
     textarea {
       background-color: @alert-danger-bg;
     }
   }
   //form_end

}

#about{
   .top-text{
      .font-size(24);
      font-weight: 200;
      margin-top: 40px;
      margin-bottom: 30px;
   }
   .bottom-text{
      .font-size(18);
      line-height: 30px;
      margin-bottom: 100px;
   }
}

//contact_end

footer{
   position: relative;
   z-index: 2;
   text-align: center;
   #top{
      padding-top: 100px;
      padding-bottom: 100px;
      background-color: @s-gray-dark;
      .top-container{
         margin: 0 auto;
         position: relative;
         width: 100%;
         max-width: 500px;
         img{
            width: 100%;
            &#apple{
               position: absolute;
               left: 45%;
               top: 30%;
               max-width: 90px;
            }
         }
      }
   }
   #bottom{
      padding-top: 100px;
      padding-bottom: 100px;
      .image-map{
         height: 80px;
         width: 280px;
         background-image: url('../img/footer/footer_icons.svg');
         background-size: cover;
         background-position: center top;
         margin: 0 auto;
         margin-bottom: 40px;
         .footer-icon-link{
            display: inline-block;
            height: 80px;
            width: 90px;
         }
      }
      img{
         display: inline;
      }
      p{
         color: @s-gray;
         .font-size(16);
         font-weight: 400;
      }
   }
}


/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: @screen-sm-min) {
   span {
      &.anchor{
         margin-top: -100px;
         padding-bottom: 100px;
         display: block;
      } 
   }
   #header-wrapper{
      display: block;
   }
   .menu-button, .overlay-menu, .menu-back{
      display: none;
   }
   header{
      .submenu{
         display: none;
      }
   }
   #smakis-logo-container{
      img{
         padding-top: 20px;
         padding-left: 20px;
         padding-right: 20px;
      }
   }
   #our-products{
      .button{
         padding: 15px 60px;
      }
   }
   #campaign{
      h2{
         .font-size(60);
      }
   }
   #retailers-top{
      h2{
         .font-size(60);
      }
   }
   #retailers{
      .shop-container{
         height: 165px;
         width: 165px;
         p{
            .font-size(18);
         }
      }
   }
   footer{
      #top{
         .top-container{
            img{
               &#apple{
                  max-width: 130px;
               }
            }
         }
      }
   }
   #slide-two{
      .carousel{
         .carousel-control{
            background-image: none;
            .glyphicon-chevron-right{
               width: auto;
            }
            .glyphicon-chevron-right:before {
               height: 0.95em;
               width: 0.95em;
            }
            .glyphicon-chevron-left:before {
               height: 0.95em;
               width: 0.95em;
            }
         }
      }
   }
   #slide-one{
      .chevron::before {
         border-style: solid;
         border-width: 0.15em 0.15em 0 0;
         content: '';
         display: inline-block;
         height: 0.95em;
         left: 0.15em;
         position: relative;
         top: 0.15em;
         transform: rotate(-45deg);
         -webkit-transform: rotate(-45deg);

         /* Firefox */
         -moz-transform: rotate(-45deg);

         /* IE */
         -ms-transform: rotate(-45deg);

         /* Opera */
         -o-transform: rotate(-45deg);
         vertical-align: top;
         width: 0.95em;
      }
      .chevron.right:before {
         left: 0;
         transform: rotate(45deg);
      }
   }
   #promo-one{
      h2{
         .font-size(60);
      }
      img{
         margin-right: 120px;
      }
   }
}

@media (min-width: @screen-md-min) {
   #friends-side-nav{
      overflow: visible;
   }
}

@media (min-width: @screen-lg-min) {
   .product-category{
      .product-container{
         cursor: initial;
         &:hover{
            .product-info{
               top: 0;
               .info-container{
                  p{
                     .font-size(18);
                     line-height: 26px;
                  }
               }
            }
         }
      }
   }
}
